:root {
    --main-color: #f4ce14;
    --secondary-color: #495e57;
    --light-color: #fff8d8;
    --shadow: 5px 5px 0px 0px black;
}

body {
    font-family: "Century Schoolbook";
}

.container {
    width: 100%; /* for mobile */
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        max-width: 720px; /* for tablet */
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px; /* for desktop */
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    margin: 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    outline: 1px solid black;
    border-radius: 1rem;
}
header .container > * {
    padding: 0 1rem;
}

header nav {
    display: flex;
    gap: 4rem;
    color: var(--secondary-color);
}

header .logo img {
    height: 3rem;
}

main .container {
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
}

main article {
    outline: 1px solid black;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: var(--shadow);
}

main .menu article h1 {
    color: var(--secondary-color);
}

main article img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

main .container > article {
    height: 16rem;
    position: relative;
}

main .container > article > img {
    height: 100%;
    filter: brightness(0.8);
}

main .container > article .pro {
    color: white !important;
    position: absolute;
    bottom: 0;
    left: 2rem;
    transform: translateY(-1rem);
}

main .container > article .pro span {
    position: relative;
    color: var(--secondary-color);
}

main .container > article .pro span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    bottom: 0;
    left: 0;
    z-index: -1;
}

main .menu {
    grid-area: "m";
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

main .menu article {
    padding-bottom: 2rem;
    background-color: var(--light-color);
}

main .menu article h3 {
    position: absolute;
    bottom: 0;
}

main .desc {
    padding: 1rem;
    text-align: justify;
}

footer .container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}

footer .container img {
    height: 4rem;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}